<div id="loader" *ngIf="isLoading">
  <div class="loading">
    <div class="icon primary-back">
      <div
        class="
          row
          text-center
          justify-content-center
          align-items-end
          h-100
          pt-4
        "
      >
        <div class="col-12">
          <div class="loader">
            <div class="dot dot1"></div>
            <div class="dot dot2"></div>
            <div class="dot dot3"></div>
            <div class="dot dot4"></div>
          </div>
        </div>
        <div class="col-12 mt-3">
          <p class="white-color links text-center bold">Please wait ...</p>
        </div>
      </div>
    </div>
  </div>
</div>
